<div class="section-2">
    <div class="container">
        <h2 class="h2">
            Применение в автомобильной <br> промышленности
        </h2>
        <ul class="section-2__list">
            <li class="section-2__list_item">
                <img src="../../assets/img/icons/section-2_icon-1.svg" alt="">
            </li>
            <li class="section-2__list_item">
                <img src="../../assets/img/icons/section-2_icon-2.svg" alt="">
                <div class="section-2__list_item_title">Экстерьер</div>
            </li>
            <li class="section-2__list_item">
                <img src="../../assets/img/icons/section-2_icon-3.svg" alt="">
                <div class="section-2__list_item_title">Системы ОВК</div>
            </li>
            <li class="section-2__list_item">
                <img src="../../assets/img/icons/section-2_icon-5.svg" alt="">
                <div class="section-2__list_item_title">Интерьер</div>
            </li>
            <li class="section-2__list_item">
                <img src="../../assets/img/icons/section-2_icon-5.svg" alt="">
                <div class="section-2__list_item_title">Подкапотное <br> пространство</div>
            </li>
        </ul>
    </div>
    <!-- /.container -->
</div>
<!-- /.section-2 -->