<div class="section-5" id="section-5">
    <div class="container">

        <h2 class="h2">Наши преимущества</h2>

        <div class="section-5__text">
            <div class="section-5__text_left">
                <p>
                    ООО ТатхимПласт начал свою деятельность в 2011, взяв курс на организацию высокотехнологичного производства полимерных компаундов, соответствующих самым высоким стандартам качества. У истоков компании стоят люди, имеющие богатый опыт в области полимерных материалов и продукции из пластика, что позволило с самого начала деятельности компании взять высокую планку и занять крепкие позиции в отрасли.
                </p>
            </div>
            <div class="section-5__text_right">
                <p class="box">
                    <span>
                        ISO 9001-2008 <br> сертификация
                    </span>
                    <span>
                        ISO/TS 16949 <br> сертификация
                    </span>
                </p>
                <p>
                    Продукция производится только из сертифицированных марок сырья отечественного и импортного производства.
                </p>
                <p>
                    Цель компании - обеспечение производителей полимерных изделий высокотехнологичными полимерными компаундами, соответствующими мировым стандартам качества.
                </p>
            </div>
        </div>
        <!-- /.section-5__text -->
        
    </div>
    <!-- /.container -->
</div>
<!-- /.section-5 -->