<div class="section-8">
    <div class="container">

        <div class="section-8__grid">

            <div class="section-8__grid_left">

                <h2 class="h2 section-8__title">Контакты</h2>

                <ul class="section-8__info">
                    <li class="section-8__info_item section-8__info_title">ООО "ТатхимПласт"</li>
                    <li class="section-8__info_item">420127 Казань, ул. Дементьева, д.1ж</li>
                    <li class="section-8__info_item">
                        <a href="tel:+78432102350" class="section-8__info_item_link">+7 (843) 210-23-50</a>,&nbsp;
                        <a href="tel:2102450" class="section-8__info_item_link">210-24-50</a>
                    </li>
                    <li class="section-8__info_item">
                        <a href="#" class="section-8__info_item_link">office@tathimplast.ru</a>
                    </li>
                </ul>

                <div class="section-8__form">
                    <div class="section-8__form_title">Есть вопросы?</div>
                    <form class="form">
                        <div class="form_group">
                            <label for="section-8-name">Ваше имя</label>
                            <input type="text" id="section-8-name" required="">
                        </div>
                        <div class="form_group">
                            <label for="section-8-tel">Номер телефона</label>
                            <input type="tel" id="section-8-tel" required="">
                        </div>
                        <div class="form__btn">
                            <button class="btn btn-white">Отправить <span></span></button>
                        </div>
                    </form>
                </div>
                <!-- /.section-8__info_form -->

            </div>

            <div class="section-8__grid_right">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.3436900853335!2d49.107674624716395!3d55.864631212006465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41594d7327881313%3A0xf8b16a637c9fdf14!2zedC70LjRhtCwINCU0LXQvNC10L3RgtGM0LXQstCwLCAxICjQliksINCa0LDQt9Cw0L3RjCwg0KDQtdGB0L8uINCi0LDRgtCw0YDRgdGC0LDQvSwg0KDQvtGB0ZbRjywgNDIwMTI3!5e0!3m2!1suk!2sua!4v1583669123490!5m2!1suk!2sua" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>

        </div>
        <!-- /.section-8__grid -->

    </div>
    <!-- /.container -->
</div>
<!-- /.section-8 -->