<div class="navigation">
    <div class="container">
        <nav class="navigation__list">
            <a href="#section-2" class="navigation__link">применение</a>
            <a href="#section-3" class="navigation__link">Полимерные компаунды</a>
            <a href="#section-5" class="navigation__link">преимущества</a>
            <a href="#section-6" class="navigation__link">партнеры</a>
            <a href="#section-7" class="navigation__link">о компании</a>
            <a href="#section-8" class="navigation__link">Контакты</a>
        </nav>
        <!-- /.navigation__list -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navigation -->