<div class="section-7" id="section-7">
    <div class="container">
        <div class="section-7__grid">
            <div class="section-7__grid_left">
                <h2 class="h2 section-7__title">О компании</h2>
                <iframe width="100%" height="344px" src="https://www.youtube.com/embed/Xy29T7LBM_I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="section-7__grid_right">
                <h3 class="h3 section-7__title">Сертификаты</h3>
                <div class="section-7__certificate" id="lightgallery">
                    <a href="../../assets/img/certificate-1.jpg">
                        <img src="../../assets/img/certificate-1.jpg" alt="">
                    </a>
                    <a href="../../assets/img/certificate-2.jpg">
                        <img src="../../assets/img/certificate-2.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <!-- /.section-7__grid -->
    </div>
    <!-- /.container -->
</div>
<!-- /.section-7 -->