<div class="section-6">
    <div class="container">

        <h2 class="h2 section-6__title">Наши партнеры</h2>

        <ul class="section-6__list">
            <li class="section-6__card">
                <img src="../../assets/img/section-6_img-1.png" alt="">
            </li>
            <li class="section-6__card">
                <img src="../../assets/img/section-6_img-2.png" alt="">
            </li>
            <li class="section-6__card">
                <img src="../../assets/img/section-6_img-3.png" alt="">
            </li>
            <li class="section-6__card">
                <img src="../../assets/img/section-6_img-4.png" alt="">
            </li>
            <li class="section-6__card">
                <img src="../../assets/img/section-6_img-5.png" alt="">
            </li>
            <li class="section-6__card">
                <img src="../../assets/img/section-6_img-6.png" alt="">
            </li>
            <li class="section-6__card">
                <img src="../../assets/img/section-6_img-4.png" alt="">
            </li>
            <li class="section-6__card">
                <img src="../../assets/img/section-6_img-5.png" alt="">
            </li>
            <li class="section-6__card">
                <img src="../../assets/img/section-6_img-6.png" alt="">
            </li>
        </ul>
        <!-- /.section-6__list -->

    </div>
    <!-- /.container -->
</div>
<!-- /.section-6 -->