<div class="section-4">
    <div class="container">

        <h3 class="h3">Свойства</h3>

        <ul class="section-4__list">
            <li class="section-4__list_item">
                <div class="section-4__list_item_img">
                    <img src="../../assets/img/icons/section-4_icon-1.svg" alt="">
                </div>
                <div class="section-4__list_item_title">Теплостойкость</div>
            </li>
            <li class="section-4__list_item">
                <div class="section-4__list_item_img">
                    <img src="../../assets/img/icons/section-4_icon-2.svg" alt="">
                </div>
                <div class="section-4__list_item_title">Ударостойкость</div>
            </li>
            <li class="section-4__list_item">
                <div class="section-4__list_item_img">
                    <img src="../../assets/img/icons/section-4_icon-3.svg" alt="">
                </div>
                <div class="section-4__list_item_title">Морозостойкость</div>
            </li>
            <li class="section-4__list_item">
                <div class="section-4__list_item_img">
                    <img src="../../assets/img/icons/section-4_icon-4.svg" alt="">
                </div>
                <div class="section-4__list_item_title">Устойчивость к царапинам</div>
            </li>
            <li class="section-4__list_item">
                <div class="section-4__list_item_img">
                    <img src="../../assets/img/icons/section-4_icon-5.svg" alt="">
                </div>
                <div class="section-4__list_item_title">Минералонаполненные</div>
            </li>
            <li class="section-4__list_item">
                <div class="section-4__list_item_img">
                    <img src="../../assets/img/icons/section-4_icon-6.svg" alt="">
                </div>
                <div class="section-4__list_item_title">Стеклонаполненные</div>
            </li>
            <li class="section-4__list_item">
                <div class="section-4__list_item_img">
                    <img src="../../assets/img/icons/section-4_icon-7.svg" alt="">
                </div>
                <div class="section-4__list_item_title">Антипиреновые</div>
            </li>
            <li class="section-4__list_item">
                <div class="section-4__list_item_img">
                    <img src="../../assets/img/icons/section-4_icon-8.svg" alt="">
                </div>
                <div class="section-4__list_item_title">Цветные</div>
            </li>
            <li class="section-4__list_item">
                <div class="section-4__list_item_img">
                    <img src="../../assets/img/icons/section-4_icon-9.svg" alt="">
                </div>
                <div class="section-4__list_item_title">UV-стабилизация</div>
            </li>
        </ul>
        <!-- /.section-4__list -->

    </div>
    <!-- /.container -->
</div>
<!-- /.section-4 -->