<div class="section-3">
    <div class="container">

        <h2 class="h2">
            Полимерные компаунды <br> от Татхимпласт
        </h2>

        <ul class="section-3__list">
            <li class="section-3__card">
                <div class="section-3__card_img">
                    <img src="../../assets/img/icons/section-3_icon-1.svg" alt="">
                </div>
                <div class="section-3__card_content">
                    <div class="box">
                        <div class="section-3__card_content_title">«AVTOLEN»</div>
                        <div class="section-3__card_content_subtitle">Полимерная база – РР</div>
                    </div>
                </div>
            </li>
            <li class="section-3__card">
                <div class="section-3__card_img">
                    <img src="../../assets/img/icons/section-3_icon-1.svg" alt="">
                </div>
                <div class="section-3__card_content">
                    <div class="box">
                        <div class="section-3__card_content_title">«AVTOLOY»</div>
                        <div class="section-3__card_content_subtitle">Полимерная база – PC, PC/ABS</div>
                    </div>
                </div>
            </li>
            <li class="section-3__card">
                <div class="section-3__card_img">
                    <img src="../../assets/img/icons/section-3_icon-1.svg" alt="">
                </div>
                <div class="section-3__card_content">
                    <div class="box">
                        <div class="section-3__card_content_title">«AVTOMID»</div>
                        <div class="section-3__card_content_subtitle">Полимерная база – РА</div>
                    </div>
                </div>
            </li>
            <li class="section-3__card">
                <div class="section-3__card_img">
                    <img src="../../assets/img/icons/section-3_icon-1.svg" alt="">
                </div>
                <div class="section-3__card_content">
                    <div class="box">
                        <div class="section-3__card_content_title">«AVTOSTYRENE»</div>
                        <div class="section-3__card_content_subtitle">Полимерная база – HIPS, GPPS</div>
                    </div>
                </div>
            </li>
            <li class="section-3__card">
                <div class="section-3__card_img">
                    <img src="../../assets/img/icons/section-3_icon-1.svg" alt="">
                </div>
                <div class="section-3__card_content">
                    <div class="box">
                        <div class="section-3__card_content_title">«AVTOLAC»</div>
                        <div class="section-3__card_content_subtitle">Полимерная база – ABS</div>
                    </div>
                </div>
            </li>
        </ul>
        <!-- /.section-3__list -->

    </div>
    <!-- /.container -->
</div>
<!-- /.section-3 -->