.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 1.3em;
    border: 2px solid $main;
    border-radius: 3px;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: $main;
    line-height: 1;
    transition: all .3s;
    span {
        position: relative;
        top: -1px;
        transform: rotate(45deg);
        display: block;
        width: 7px;
        height: 7px;
        margin-left: 1em;
        border: 3px solid $main;
        border-bottom: transparent;
        border-left: transparent;
        transition: all .3s;
    }
    &:hover {
        background-color: $main;
        color: $white;
        span {
            border: 3px solid $white;
            border-bottom: transparent;
            border-left: transparent;
        }
    }
    &.btn-white {
        border: 1px solid $white;
        color: $white;
        span {
            border: 3px solid $white;
            border-bottom: transparent;
            border-left: transparent;
        }
        &:hover {
            border-color: $main;
        }
    }
}